.container {
  margin: 0 auto;
  max-width: 1150px;
  width: 100%;

  @include respond-below(lg) {
    max-width: 960px;
  }

  @include respond-below(md) {
    max-width: 720px;
  }

  @include respond-below(sm) {
    max-width: 540px;
    padding: 0 16px;
  }
}
