body,
#root {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    color: inherit;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  border-radius: 0;
  font-family: $font-family;
  scrollbar-width: thin;
  scrollbar-color: #040403 transparent;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #040403;
    border-radius: 20px;
    border: 1px solid transparent;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow-y: scroll;
}
