@import "../../styles/global/variables";

.search-bar {
  &__form {
    margin-top: 1.5rem;
    position: relative;
  }

  &__input {
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    width: 100%;
    transition: $transition;
    height: 3rem;
    background-color: $white;
    border-radius: 0.25rem;
    color: $black;
    font-size: 1rem;

    &:focus {
      transition: $transition;
    }

    &::placeholder {
      color: $gray;
      opacity: 0.8;
      font-size: 1rem;
    }

    &__wrapper {
      position: relative;
    }
  }

  &__search-icon {
    position: absolute;
    transform: rotate(-45deg);
    top: 1px;
    left: 12px;
    color: $gray;
    font-size: 2rem;
  }
}
